export * from "./{{ module_name }}.module";
export * from "./{{ module_name }}.service";
export * from "./{{ module_name }}.controller";
export * from "./{{ module_name }}.health";
export * from "./{{ module_name }}.validation";
