# Support Center
#
# Route commerce, license, entitlement, and download-token incidents into a
# single audited support workflow.
SUPPORT_CENTER_DEFAULT_TAGS = (
    "commerce",
    "license",
    "download",
)
